.main-wrapper {
  margin: 10px;
  width: auto;
}

.thebadges {
  margin-left: 30%;
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  position: relative;
  height: 200px;
  background-color: #0D0F12;
  justify-content: center;
  margin-right: 30%;
}

.thebadges img {  
  width: 200px;
  height: 150px; 
}

.udemybadges {
  margin-top: 30px;
  display: flex;
  position: relative;
  justify-content: center;
}

.pluralsight {
  margin-top: 43px; 
}

.psubheader {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  margin-left: 310px;
  margin-right: 350px;
}

.azure img {
 margin-top: 20px;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #777777;
  margin-top: 10px;
  height: 50px;
  margin-left: 35%;
  margin-right: 35%;
}

.portfolio-item a {
  color: rgb(194, 179, 179);
  margin-top: 16px;
  text-decoration: none;
  font-size: 16px;
}

.portfolio-item a:hover {
  color: rgb(255, 255, 255); 
  font-size:18px;
}

* {
  border-radius: 5px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-width: 1050px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);  
  align-items: center;
  justify-content: center;
}

h1 {
  margin-right: 105px;
  margin-left: 21px;
  color: #d19999;
  display: flex;
  justify-content: center;
}

.pluralsight h2 {  
  display: flex;
  color: #d19999;
  justify-content: center;
}

.udemy h2 {   
  display: flex;
  color: #d19999;
  justify-content: center;
}

.hidden{
  display:none;
}